<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyProgress.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MoneyProgress.My.MySettings>
            <setting name="Begin" serializeAs="String">
                <value>08:00</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>16:30</value>
            </setting>
            <setting name="NoonBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoonBegin" serializeAs="String">
                <value>11:30</value>
            </setting>
            <setting name="NoonFinish" serializeAs="String">
                <value>13:00</value>
            </setting>
            <setting name="Salary" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="WorkingDays" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>300</value>
            </setting>
        </MoneyProgress.My.MySettings>
    </userSettings>
</configuration>